 @model  IEnumerable<WebApplication6.Models.Car>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div> 
        <h1>siemano</h1>

        jakis tekst
        <p>ViewData</p>
        <p>@ViewData["tytyl"]</p>
        <p>@ViewData["liczba"]</p>
        <br><br>
        <p>ViewBag</p>
        <p>@ViewBag.tytul2</p>
        <p>@ViewBag.liczba2</p>
        <p>@ViewBag.tytul2</p>
        <p>@ViewBag.liczba2</p>
        <br>
        <p>Strolngly typed</p>
        


        <table>
            <tr>
                <td>Id</td><td>Model</td>
            </tr>
            @foreach (var wiersz in Model)
            {
                <tr><td>@wiersz.Id</td><td>@wiersz.Model</td></tr>
            }
        </table>
        
        <p></p>
    </div>
</body>
</html>
