@model WebApplication6.Models.ModelSpektakl

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ModelSpektakl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wykonawcy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wykonawcy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokalizacja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokalizacja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tytuł)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytuł)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auror)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auror)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
