@model WebApplication6.Models.ModelKoszyk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModelKoszyk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iloscBiletow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iloscBiletow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iloscUlgowych)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iloscUlgowych)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miejsce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejsce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rzad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rzad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
